MQTT_MINT_URL_FACTORY=https://app-v2.datarealities.com/api/device/mqtt/mint/factory
MQTT_MINT_URL=https://app-v2.datarealities.com/api/device/mqtt/mint
MQTT_BROKER_URL=ws://localhost:8083/mqtt
MQTT_SHARED_GROUP=server_10
MQTT_SERVER_USERNAME=USER_SERVER
MQTT_SERVER_PASSWORD=xnp_vjm!rwn_kde5QGU
IOT_CORE_BASE_URL=https://app-v2.datarealities.com
IOT_CORE_API_KEY=sk_d1d46dff2dc52c0f83b7793cf2674ec995d7ead45ccf130e00dddb4b81cc3b43

EMQX_URL=http://localhost:18083
EMQX_API_KEY=73a0c4f2959b24f8
EMQX_API_SECRET=EE9AIUfI4yYsvJO3fvN3naQpevyY2ZTXuhhwOb8TTpjL
EMQX_JWT_JWKS_ENDPOINT=http://host.docker.internal:5173/.well-known/jwks-link.json

PUBLIC_VANNA_API_URL=http://localhost:8000

