# Database Configuration
DATABASE_URL="postgresql://postgres:password@localhost:5432/fs01_web"

# Application Settings
NODE_ENV=development
# Config for email send
COMPANY=Nice Key
LOGIN_URL=http://localhost:5173/auth/login

# Vanna AI Chat
PUBLIC_VANNA_API_URL=http://localhost:8000
